/*

rood: f14441

*/



.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
.zichtbaar-maken,
.tag.zichtbaar-maken {
  background-color: #54cee7;
}
.veilig-leerklimaat,
.tag.veilig-leerklimaat {
  background-color: #c6e0dd;
}
.leren-bijsturen,
.tag.leren-bijsturen {
  background-color: #e9d4d6;
}
.tekst-zichtbaar-maken {
  color: #54cee7;
}
.tekst-veilig-leerklimaat {
  color: #c6e0dd;
}
.tekst-leren-bijsturen {
  color: #e9d4d6;
}
.home .hero-body {
  border-bottom: 1px solid black;
}

