.page-enter-active, .page-leave-active {
  transition: opacity .2s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
.leren-zichtbaar-maken,
.tag.leren-zichtbaar-maken {
  background-color: #54cee7;
}
.leren-in-een-veilig-en-stimulerend-leerklimaat,
.tag.leren-in-een-veilig-en-stimulerend-leerklimaat {
  background-color: #c6e0dd;
}
.leren-bijsturen,
.tag.leren-bijsturen {
  background-color: #e9d4d6;
}
.tekst-leren-zichtbaar-maken {
  color: #54cee7;
}
.tekst-leren-in-een-veilig-en-stimulerend-leerklimaat {
  color: #c6e0dd;
}
.tekst-leren-bijsturen {
  color: #e9d4d6;
}
.home .hero-body {
  border-bottom: 1px solid black;
}
.modal.is-active {
  z-index: 40;
}
.fiche-content {
  margin: 1em auto;
  max-width: 45em;
  display: inline-block;
  vertical-align: top;
}
.fiche-item {
  margin-bottom: 4em;
}
/*.sticky-menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  float: left;
  z-index: 40;
}*/
.sticky-menu {
  position: sticky;
  z-index: 40;
  display: inline-block;
  vertical-align: top;
  margin-right: 7em;
}
ul.side-nav > li {
  list-style: none;
}

